<!DOCTYPE html>
<html ng-app="CadClientes">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="angular/angular.js"></script>
    <script src="angular/angular-locale_pt-br.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
             crossorigin="anonymous">
    <script>
        angular.module("CadClientes", []);
        angular.module("CadClientes").controller("CadClientesCtrl",
        function($scope){
           $scope.app = "Cadastro de Clientes"; 
           $scope.clientes = [
               {nome: "Hugo", codigo: "0001", data: new Date(), valor: "100"},
               {nome: "Grazi", codigo: "0002", data: new Date(), valor: "300"},
               {nome: "Paloma", codigo: "0003", data: new Date(), valor: "500"}
           ];

           $scope.tipoClientes = [
               {tipo: "Pessoa Física", codigo: "01", local: "Nacional"},
               {tipo: "Pessoa Jurídica", codigo: "02", local: "Nacional"},
               {tipo: "Sócios", codigo: "03", local: "Nacional"},
               {tipo: "Exportador", codigo: "04", local: "Internacional" },
               {tipo: "Importador", codigo: "05", local: "Internacional" },

           ];

           $scope.adicionarClientes = function(cliente){
               $scope.clientes.push(angular.copy(cliente));
               delete $scope.cliente;
           }

           $scope.apagarClientes = function(clientes){
              $scope.clientes = clientes.filter(function(cliente){
                  if (!cliente.selecionado) return cliente;
              });
           };

           $scope.temclienteSelecionado = function (clientes){
               return clientes.some(function (cliente){
                   return cliente.selecionado;
               });
           }

           $scope.classe1 = "selecionado";
           $scope.classe2 = "negrito";
        });
    </script>

    <title>Cadastro de Clientes</title>
</head>
<body ng-controller="CadClientesCtrl">
    <div class="jumbotron">
        <input type="text" class="form-control" ng-model="Buscar"
                placeholder="Busque aqui">
       <h3 ng-bind="app"></h3>

        <table ng-show="clientes.length > 0" class="table">
            <tr>
                <td></td>
                <td><b>Nome</b></td>
                <td><b>Código</b></td>
                <td><b>Tipo Cliente</b></td>
                <td><b>Data de Cadastro</b></td>
                <td><b>Valor da compra</b></td>

            </tr>
            <tr ng-class="{'selecionado negrito': cliente.selecionado}" 
                    ng-repeat="cliente in clientes | filter: Buscar | orderBy:'nome'
                        | limitTo:2">
                <td><input type="checkbox" ng-model="cliente.selecionado"></td>
                <td>{{cliente.nome | uppercase}}</td>
                <td>{{cliente.codigo}}</td>  
                <td>{{cliente.tipoClientes.tipo}}</td>
                <td>{{cliente.data | date: 'MMMM  EEEE | dd/MM/yyyy HH:mm'}}</td>
                <td>{{cliente.valor | currency}}</td>

                
            </tr>
        </table>
        <hr>
        {{cliente}}
    
        <form name="clienteForm">
            <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome"
                                ng-required="true">
            <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código"
                                ng-required="true">

            <select class="form-control" ng-model="cliente.tipoClientes"
                ng-options="tipoCliente.tipo group by tipoCliente.local for tipoCliente in tipoClientes"
                ng-required="true">
                <option value="">Selecione um tipo de cliente</option>    

            </select>
        </form>
        <button class="btn btn-primary btn-block" ng-click="adicionarClientes(cliente)"
                     ng-disabled="clienteForm.$invalid">Adicionar Cliente</button>
                
        <button class="btn btn-danger btn-block" ng-click="apagarClientes(clientes)"
                ng-if="temclienteSelecionado(clientes)">Apagar Cliente</button>             
        
        {{tipoClientes}}
   </div>
   <div ng-include="'rodape.html'">
   </body>
</html>